{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="container mt-5">
    <a href="{{path('user_create')}}"><button class="btn btn-success mb-2">Créer</button></a>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>
                        <a href="{{path("user_edit", {'id': user.id})}}"><i class="fas fa-pencil-alt text-warning"></i></a>
                        <a href="{{path("user_delete", {'id': user.id})}}"><i class="fas fa-trash text-danger ml-3"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
